.custom-menubar {
  background-color: #353434 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.custom-menubar .p-menubar,
.custom-menubar .p-menuitem,
.custom-menubar .p-menuitem-link,
.custom-menubar .p-menuitem-text,
.custom-menubar .p-menuitem-icon {
  background-color: #353434;
  color: #333 !important;
}

.custom-menubar .p-menubar {
  display: flex !important;
  border: none !important;
  background-color: #fff !important;
}

.custom-menubar .p-menuitem-link {
  display: flex !important;
  align-items: center !important;
  padding: 0.75rem 1rem !important;
}

.custom-menubar .p-menuitem-icon {
  margin-right: 0.5rem !important;
}

/* .custom-menubar .p-menuitem-link:hover {
  background-color: #f5f5f5 !important;
} */